---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/Sk89ZllCbWVqA4M_MoJ7Lg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4857'
      Ratelimit-Resettime:
      - '2022-11-04T00:00:00+00:00'
      X-Zipkin-Id:
      - 2b853ac0b20db438
      X-Routing-Service:
      - routing-main--uswest2-689dcfd8f7-6ql75; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "Sk89ZllCbWVqA4M_MoJ7Lg", "alias": "noodles-express-denver",
        "name": "Noodles Express", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/H2PIECHzvbrhVEmK5rWaOg/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/noodles-express-denver?adjust_creative=BcjdOZ9pkVL_4m4EoK-Vvw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=BcjdOZ9pkVL_4m4EoK-Vvw",
        "phone": "+13037368818", "display_phone": "(303) 736-8818", "review_count":
        108, "categories": [{"alias": "noodles", "title": "Noodles"}, {"alias": "szechuan",
        "title": "Szechuan"}], "rating": 4.5, "location": {"address1": "703 S Colorado
        Blvd", "address2": "", "address3": null, "city": "Denver", "zip_code": "80246",
        "country": "US", "state": "CO", "display_address": ["703 S Colorado Blvd",
        "Denver, CO 80246"], "cross_streets": ""}, "coordinates": {"latitude": 39.70269,
        "longitude": -104.94143}, "photos": ["https://s3-media2.fl.yelpcdn.com/bphoto/H2PIECHzvbrhVEmK5rWaOg/o.jpg",
        "https://s3-media4.fl.yelpcdn.com/bphoto/M8MMB_a5Y2fZ0paRNngIsw/o.jpg", "https://s3-media2.fl.yelpcdn.com/bphoto/zsV1HXUPLkmAn2W-MYvAww/o.jpg"],
        "price": "$$", "hours": [{"open": [{"is_overnight": false, "start": "1100",
        "end": "1500", "day": 2}, {"is_overnight": false, "start": "1600", "end":
        "2030", "day": 2}, {"is_overnight": false, "start": "1100", "end": "1500",
        "day": 3}, {"is_overnight": false, "start": "1600", "end": "2030", "day":
        3}, {"is_overnight": false, "start": "1100", "end": "1500", "day": 4}, {"is_overnight":
        false, "start": "1600", "end": "2030", "day": 4}, {"is_overnight": false,
        "start": "1100", "end": "1500", "day": 5}, {"is_overnight": false, "start":
        "1600", "end": "2030", "day": 5}, {"is_overnight": false, "start": "1100",
        "end": "1500", "day": 6}, {"is_overnight": false, "start": "1600", "end":
        "2030", "day": 6}], "hours_type": "REGULAR", "is_open_now": true}], "transactions":
        ["pickup", "delivery"]}'
  recorded_at: Thu, 03 Nov 2022 23:52:16 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/9999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-689dcfd8f7-vkfjj; site=public_api_v3
      X-Zipkin-Id:
      - da639a5e11db14bf
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Thu, 03 Nov 2022 23:52:16 GMT
recorded_with: VCR 6.1.0
