---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-7h89k; site=public_api_v3
      X-Zipkin-Id:
      - 24dcb362e1c6d340
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-112-70-uswest2aprod
      X-Extlb:
      - 10-69-112-70-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Wed, 26 Oct 2022 17:49:45 GMT
recorded_with: VCR 6.1.0
