---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 0d46ec3d4b7f7ddb
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-wgc7m; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Tue, 25 Oct 2022 19:23:18 GMT
recorded_with: VCR 6.1.0
