---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-6597555464-jwvc8; site=public_api_v3
      X-Zipkin-Id:
      - 4a3a2547342e55ec
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-185-39-uswest2bprod
      X-Extlb:
      - 10-69-185-39-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Tue, 18 Oct 2022 03:39:11 GMT
recorded_with: VCR 6.1.0
