---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=Denver&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      Ratelimit-Resettime:
      - '2022-10-19T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-6597555464-x24fw; site=public_api_v3
      X-Zipkin-Id:
      - 5661a3f8673e035a
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "Sk89ZllCbWVqA4M_MoJ7Lg", "alias": "noodles-express-denver",
        "name": "Noodles Express", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/dgayoTjtDbOqndnV-PRszg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/noodles-express-denver?adjust_creative=BcjdOZ9pkVL_4m4EoK-Vvw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=BcjdOZ9pkVL_4m4EoK-Vvw",
        "review_count": 107, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "szechuan", "title": "Szechuan"}], "rating": 4.5, "coordinates":
        {"latitude": 39.70269, "longitude": -104.94143}, "transactions": ["pickup",
        "delivery"], "price": "$$", "location": {"address1": "703 S Colorado Blvd",
        "address2": "", "address3": null, "city": "Denver", "zip_code": "80246", "country":
        "US", "state": "CO", "display_address": ["703 S Colorado Blvd", "Denver, CO
        80246"]}, "phone": "+13037368818", "display_phone": "(303) 736-8818", "distance":
        4314.359896295189}, {"id": "BqqesHM5ZounBdqLXpIruQ", "alias": "hey-bangkok-denver",
        "name": "Hey Bangkok!", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/-aIpbhWh5s1qYiN18tueFA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hey-bangkok-denver?adjust_creative=BcjdOZ9pkVL_4m4EoK-Vvw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=BcjdOZ9pkVL_4m4EoK-Vvw",
        "review_count": 130, "categories": [{"alias": "thai", "title": "Thai[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=Denver,%20CO&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4991'
      X-Zipkin-Id:
      - 69f8ed0f18bffce9
[...]
