---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=Denver&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4955'
      X-Zipkin-Id:
      - 71d9d7cf277113b8
      Ratelimit-Resettime:
      - '2022-11-05T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-689dcfd8f7-9vms2; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kNdv-g4T68wDHyT_EgbF8A", "alias": "himalayan-spice-denver-2",
        "name": "Himalayan Spice", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/h9pLiiPbGmv4lgjf3QDgqA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/himalayan-spice-denver-2?adjust_creative=BcjdOZ9pkVL_4m4EoK-Vvw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=BcjdOZ9pkVL_4m4EoK-Vvw",
        "review_count": 82, "categories": [{"alias": "indpak", "title": "Indian"}],
        "rating": 5.0, "coordinates": {"latitude": 39.77442708558098, "longitude":
        -105.04432613479163}, "transactions": ["delivery", "pickup"], "location":
        {"address1": "4279 Tennsyon St", "address2": null, "address3": "", "city":
        "Denver", "zip_code": "80212", "country": "US", "state": "CO", "display_address":
        ["4279 Tennsyon St", "Denver, CO 80212"]}, "phone": "+17204853107", "display_phone":
        "(720) 485-3107", "distance": 7669.214171889074}, {"id": "Sk89ZllCbWVqA4M_MoJ7Lg",
        "alias": "noodles-express-denver", "name": "Noodles Express", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/H2PIECHzvbrhVEmK5rWaOg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/noodles-express-denver?adjust_creative=BcjdOZ9pkVL_4m4EoK-Vvw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=BcjdOZ9pkVL_4m4EoK-Vvw",
        "review_count": 108, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "szechuan", "title": "Szechuan"}], "rating": 4.5, "coordinates":
        {"latitude": 39.70269, "longitude": -104.94143}, "transactions": ["pickup",
        "delivery"], "price": "$$", "location": {"address1": "703 S Colorado Blvd",
        "address2": "", "address3": null, "city": "Denver", "zip_code": "80246", "country":
        "US", "state": "CO", "display_address": ["703 S Colorado Blvd", "Denver, CO
        80246"]}, "phone": "+13037368818", "display_phone": "(303) 736-8818", "distance":
        4314.359896295189}, {"id": "BqqesHM5ZounBdqLXpIruQ", "alias": "hey-bangkok-denver",
        "name": "Hey Bangkok!", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/z[...]
