---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=?&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-jmkv4; site=public_api_v3
      X-Zipkin-Id:
      - 2d409fa5d7e7b127
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-152-12-uswest2bprod
      X-Extlb:
      - 10-69-152-12-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "LOCATION_NOT_FOUND", "description": "Could not
        execute search, try specifying a more exact location."}}'
  recorded_at: Wed, 26 Oct 2022 15:11:44 GMT
recorded_with: VCR 6.1.0
