---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=?&sort_by=rating&term=spicy%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-689dcfd8f7-2nkjf; site=public_api_v3
      X-Zipkin-Id:
      - e602c8b3ea3fed49
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-112-70-uswest2aprod
      X-Extlb:
      - 10-69-112-70-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "LOCATION_NOT_FOUND", "description": "Could not
        execute search, try specifying a more exact location."}}'
  recorded_at: Fri, 04 Nov 2022 00:33:28 GMT
recorded_with: VCR 6.1.0
