---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 654fcfbdad3a9d95
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-wgkpm; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-184-36-uswest2bprod
      X-Extlb:
      - 10-69-184-36-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "NOT_FOUND", "description": "Resource could not
        be found."}}'
  recorded_at: Wed, 26 Oct 2022 17:33:05 GMT
recorded_with: VCR 6.1.0
