---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 49c79624b4e8bec2
      X-Routing-Service:
      - routing-main--uswest2-689dcfd8f7-klnnm; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-103-213-uswest2aprod
      X-Extlb:
      - 10-69-103-213-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "NOT_FOUND", "description": "Resource could not
        be found."}}'
  recorded_at: Thu, 03 Nov 2022 23:52:32 GMT
recorded_with: VCR 6.1.0
