---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/yUXr2d9pomzJgmbPl8tlZQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--uswest2-56d4c9787f-8zrtc; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4665'
      X-Zipkin-Id:
      - '068822d113bd63f3'
      Ratelimit-Resettime:
      - '2022-10-27T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "yUXr2d9pomzJgmbPl8tlZQ", "alias": "q-house-denver", "name":
        "Q House", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/j6qTLzzfT31F92HxwrH0ww/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/q-house-denver?adjust_creative=BcjdOZ9pkVL_4m4EoK-Vvw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=BcjdOZ9pkVL_4m4EoK-Vvw",
        "phone": "+17207298887", "display_phone": "(720) 729-8887", "review_count":
        230, "categories": [{"alias": "chinese", "title": "Chinese"}], "rating": 4.5,
        "location": {"address1": "3421 E Colfax Ave", "address2": "", "address3":
        null, "city": "Denver", "zip_code": "80206", "country": "US", "state": "CO",
        "display_address": ["3421 E Colfax Ave", "Denver, CO 80206"], "cross_streets":
        ""}, "coordinates": {"latitude": 39.7403344229824, "longitude": -104.947235575533},
        "photos": ["https://s3-media2.fl.yelpcdn.com/bphoto/j6qTLzzfT31F92HxwrH0ww/o.jpg",
        "https://s3-media4.fl.yelpcdn.com/bphoto/Q-1haxodCCQ3T9YurQpXDg/o.jpg", "https://s3-media1.fl.yelpcdn.com/bphoto/m4qEoLWAYZ99Q6sJ6rVeCw/o.jpg"],
        "price": "$$", "hours": [{"open": [{"is_overnight": false, "start": "1700",
        "end": "2100", "day": 2}, {"is_overnight": false, "start": "1700", "end":
        "2100", "day": 3}, {"is_overnight": false, "start": "1700", "end": "2100",
        "day": 4}, {"is_overnight": false, "start": "1700", "end": "2100", "day":
        5}, {"is_overnight": false, "start": "1700", "end": "2100", "day": 6}], "hours_type":
        "REGULAR", "is_open_now": false}], "transactions": ["pickup", "delivery"]}'
  recorded_at: Wed, 26 Oct 2022 15:11:51 GMT
- request:
    method: get
    uri: https://www.yelp.com/menu/q-house-denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Zipkin-Span-Id:
      - 0ee0e8733f87a600
      Link:
      - https://s3-media0.fl.yelpcdn.com; rel=preconnect
      - https://www.google-analytics.com; rel=preconnect
      X-Zipkin-Id:
      - 3d5e166bb6c06aff
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-vbpxp; site=www
      Location:
      - https://www.yelp.com/biz/q-house-denver
      X-Node:
      - www_all
      - yelp-main-main--uswest2-84db5f5c56-6pbsz
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-184-36-uswest2bprod
      X-Extlb:
      - 10-69-184-36-uswest2bprod
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Oct 2022 15:11:51 GMT
[...]
- request:
    method: get
    uri: https://www.yelp.com/menu/q-house-denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-2rb75; site=www
      Link:
      - https://s3-media0.fl.yelpcdn.com; rel=preconnect
      - https://www.google-analytics.com; rel=preconnect
      X-Zipkin-Id:
      - 7263506647bff04d
      X-Zipkin-Span-Id:
      - e465be67dc6248ee
      X-Node:
      - www_all
      - yelp-main-main--uswest2-84db5f5c56-ph8jt
      Location:
      - https://www.yelp.com/biz/q-house-denver
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Oct 2022 15:11:51 GMT
recorded_with: VCR 6.1.0
