---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-65ttl; site=public_api_v3
      X-Zipkin-Id:
      - 3f36d2a64b50fd85
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "NOT_FOUND", "description": "Resource could not
        be found."}}'
  recorded_at: Sat, 22 Oct 2022 01:04:50 GMT
recorded_with: VCR 6.1.0
