---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-p97gh; site=public_api_v3
      X-Zipkin-Id:
      - e0625580e823206f
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "NOT_FOUND", "description": "Resource could not
        be found."}}'
  recorded_at: Wed, 26 Oct 2022 15:11:42 GMT
recorded_with: VCR 6.1.0
